{% extends "base.html" %}

{% block title %}{% if object %}Editar {{ object.name }}{% else %}Nuevo equipo{% endif %} | MaintLab{% endblock %}

{% block content %}
  <main>
    <h1>{% if object %}Editar equipo{% else %}Nuevo equipo{% endif %}</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% if not object %}
        <p><a class="button button-secondary" href="{% url 'equipment:location-create' %}">Crear ubicación física</a> <a class="button button-secondary" href="{% url 'organizations:customer-create' %}">Crear cliente o propietario</a></p>
      {% endif %}
      <div class="action-group"><button type="submit">Guardar</button>
      {% if object %}
        <a class="button button-secondary" href="{% url 'equipment:detail' object.pk %}">Cancelar</a>
      {% else %}
        <a class="button button-secondary" href="{% url 'equipment:list' %}">Cancelar</a>
      {% endif %}
      </div>
    </form>
  </main>
{% endblock %}
